.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
}

.error {
  border: crimson 1px solid;
}

.error-message {
  color: crimson;
}
.active-filter {
  background-color: lavender;
}
.is-done {
  opacity: 0.5;
}